@using Aspire.Dashboard.Model.Interaction

<div @ref="_containerRef">
@foreach (var iframe in _iframes)
{
    <div class="persistent-iframe-wrapper @(IsActive(iframe.Route) ? "persistent-iframe-visible" : "persistent-iframe-hidden")">
        <div class="persistent-iframe-loading">
            <FluentProgressRing />
            <span class="persistent-iframe-loading-text">Loading...</span>
        </div>
        <iframe class="persistent-iframe" src="@iframe.IframeUrl" title="@iframe.Route" data-route="@iframe.Route"></iframe>
    </div>
}
</div>
